<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:b="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<http >		
		<intercept-url pattern="/root/**" access="ROLE_ROOT" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN,ROLE_ROOT" />
		<intercept-url pattern="/restrict/**" access="ROLE_ADMIN,ROLE_ROOT,ROLE_USER"/>
		<form-login login-page="/public/login.jsf"  always-use-default-target="true" 
			default-target-url="/restrict/main.jsf"
			authentication-failure-url="/public/login.jsf?login_erro=1"	/>
		<logout/>
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="multitenantDataSource"
				authorities-by-username-query="SELECT u.email, p.permissao, u.ativo FROM usuario u, usuario_permissao p WHERE u.id = p.usuario_id AND u.email = ?"
				users-by-username-query="SELECT email, senha, ativo FROM usuario WHERE email=?"/>
		</authentication-provider>
	</authentication-manager>

</b:beans>